<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- begin::Head -->
<head>
    <title>
        后台管理 | 字典管理
    </title>

    <th:block th:include="includes/header :: header"></th:block>
</head>
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >

<div class="m-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon m--hide"> <i class="la la-gear"></i> </span>
                <h3 class="m-portlet__head-text"> 字典管理 </h3>
            </div>
        </div>
    </div>
    <!--begin::Form-->
    <form class="m-form" action="/dict/save" method="post">
        <div class="m-portlet__body">
            <div class="m-form__section m-form__section--first">
                <div class="form-group m-form__group row">
                    <label class="col-lg-3 col-form-label"> 标签名 </label>
                    <div class="col-lg-6">
                        <input name="label" type="text" class="form-control m-input" placeholder="标签名" />
                    </div>
                </div>
            </div>

            <div class="m-form__section m-form__section--first">
                <div class="form-group m-form__group row">
                    <label class="col-lg-3 col-form-label"> 标签值 </label>
                    <div class="col-lg-6">
                        <input name="value" type="text" class="form-control m-input" placeholder="标签值" />
                    </div>
                </div>
            </div>

            <div class="m-form__section m-form__section--first">
                <div class="form-group m-form__group row">
                    <label class="col-lg-3 col-form-label"> 类型 </label>
                    <div class="col-lg-6">
                        <input name="type" type="text" class="form-control m-input" placeholder="类型" />
                    </div>
                </div>
            </div>

            <div class="m-form__section m-form__section--first">
                <div class="form-group m-form__group row">
                    <label class="col-lg-3 col-form-label"> 描述 </label>
                    <div class="col-lg-6">
                        <input name="description" type="text" class="form-control m-input" placeholder="描述" />
                    </div>
                </div>
            </div>

            <div class="m-form__section m-form__section--first">
                <div class="form-group m-form__group row">
                    <label class="col-lg-3 col-form-label"> 排序 </label>
                    <div class="col-lg-6">
                        <input name="sort" type="number" class="form-control m-input" placeholder="排序" />
                    </div>
                </div>
            </div>
        </div>

        <div class="m-portlet__foot m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <button type="submit" class="btn btn-success"> 提交 </button>
                        <button type="reset" class="btn btn-secondary" onclick="history.go(-1);"> 返回 </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--end::Form-->
</div>

<th:block th:include="includes/footer :: footer"></th:block>
</body>
</html>