spring:
  datasource:
    druid:
      url: jdbc:mysql://192.168.75.132:3306/toutiao?useUnicode=true&characterEncoding=utf-8&useSSL=false
      username: root
      password: 123456
      initial-size: 1
      min-idle: 1
      max-active: 20
      test-on-borrow: true
      driver-class-name: com.mysql.jdbc.Driver

mybatis:
    type-aliases-package: com.ooqiu.gaming.server.database.domain
    mapper-locations: classpath:mapper/*.xml